Source: macumba
Section: admin
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               pep8,
               pyflakes,
               python3-all,
               python3-coverage,
               python3-mock,
               python3-nose,
               python3-requests,
               python3-setuptools,
               python3-ws4py,
               python3-yaml
Standards-Version: 3.9.5
Homepage: https://github.com/Ubuntu-Solutions-Engineering/macumba
X-Python3-Version: >= 3.4
Vcs-Browser: https://github.com/Ubuntu-Solutions-Engineering/macumba
Vcs-Git: git://github.com/Ubuntu-Solutions-Engineering/macumba.git

Package: python3-macumba
Architecture: all
Depends: juju-core,
         python3-all,
         python3-mock,
         python3-nose,
         python3-requests,
         python3-setuptools,
         python3-ws4py,
         python3-yaml,
         ${misc:Depends},
         ${python3:Depends}
Description: Macumba
 Python 3 bindings for Juju
